.AuthForm {
    background: #FFFFFF;
    box-shadow: 0 10px 30px rgba(206, 206, 206, 0.25);
    border-radius: 20px;
    padding: 32px 48px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AuthForm > input,
.AuthForm > label > input {
    min-width: 343px;
}

.AuthTitle {
    font-family: Avenir Next Cyr, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-bottom: 50px;
    text-align: left;
    width: 100%;
}
